<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
    <title>新規作成</title>

    <script src="/assets/js/metrixir.client.js"></script>
</head>
<body>
<div class="full height image" layout:fragment="content">
    <div class="ui main container">
        <div class="ui information container">
            <div class="ui middle center aligned grid">
                <div class="center column">
                    <div class="ui segment metrixir">
                        <h1 class="ui aligned header teal">お申込み情報</h1>

                        <form class="ui form" method="post" action="/cardOrder/user">

                            <!-- /*エラーがあれば表示する*/ -->
                            <ul class="ui red basic label" th:if="${form.hasErrors()}">
                                <li th:each="error : ${form.getErrors().entrySet()}" th:text="${error.value}"></li>
                            </ul>

                            <div class="ui horizontal divider">ご本人について</div>

                            <!-- /*名前(漢字)*/ -->

                            <div class="two fields">

                                <div class="field" th:classappend="${form.hasErrors('kanjiName1')} ? 'error'">
                                    <label>苗字（漢字）</label>
                                    <input type="text" name="kanjiName1" th:value="${form.kanjiName1}" placeholder="山田"/>
                                </div>

                                <div class="field" th:classappend="${form.hasErrors('kanjiName2')} ? 'error'">
                                    <label>名前（漢字）</label>
                                    <input type="text" name="kanjiName2" th:value="${form.kanjiName2}" placeholder="太郎"/>
                                </div>

                            </div>


                            <!-- /*名前(仮名)*/ -->

                            <div class="two fields">

                                <div class="field" th:classappend="${form.hasErrors('kanaName1')} ? 'error'">
                                    <label>苗字（カナ）</label>
                                    <input type="text" name="kanaName1" th:value="${form.kanaName1}"placeholder="ヤマダ"/>
                                </div>

                                <div class="field" th:classappend="${form.hasErrors('kanaName2')} ? 'error'">
                                    <label>名前（カナ）</label>
                                    <input type="text" name="kanaName2" th:value="${form.kanaName2}"placeholder="タロウ"/>
                                </div>

                            </div>


                            <!-- /*名前(ローマ字)*/ -->

                            <div class="two fields">

                                <div class="field" th:classappend="${form.hasErrors('alphabetName1')} ? 'error'">
                                    <label>Last name</label>
                                    <input type="text" name="alphabetName1" th:value="${form.alphabetName1}"placeholder="Yamada"/>
                                </div>

                                <div class="field" th:classappend="${form.hasErrors('alphabetName2')} ? 'error'">
                                    <label>Fast name</label>
                                    <input type="text" name="alphabetName2" th:value="${form.alphabetName2}"placeholder="Taro"/>
                                </div>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('gender')} ? 'error'">
                                <label>性別</label>
                                <div class="inline fields"> <!-- この中に記述したものが一行で表示される -->
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" id="gender_male" name="gender" value="male" th:checked="${form.gender}=='male'"/>
                                            <label for="gender_male">男性</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" id="gender_female" name="gender" value="female" th:checked="${form.gender}=='female'"/>
                                            <label for="gender_female">女性</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--見本用コピペ
                            <select class="ui selection dropdown" name="job">
                               <option th:selected="${form.job}==''" value="">
                                    選択してください
                                </option>
                                -->
                            <div class="field" th:classappend="${form.hasErrors('dateOfBirth')} ? 'error'">
                                <label>生年月日</label>
                                <div class="three fields">
                                    <select class="ui selection dropdown" name="'dateOfBirth1">
                                        <option value="選択してください">選択してください</option>
                                        <option value="2001">2001年</option>
                                        <option value="2000">2000年</option>
                                        <option value="1999">1999年</option>
                                        <option value="1998">1998年</option>
                                        <option value="1997">1997年</option>
                                        <option value="1996">1996年</option>
                                        <option value="1995">1995年</option>
                                        <option value="1994">1994年</option>
                                        <option value="1993">1993年</option>
                                        <option value="1992">1992年</option>
                                        <option value="1991">1991年</option>
                                        <option value="1990">1990年</option>
                                        <option value="1989">1989年</option>
                                        <option value="1988">1988年</option>
                                        <option value="1987">1987年</option>
                                        <option value="1986">1986年</option>
                                        <option value="1985">1985年</option>
                                        <option value="1984">1984年</option>
                                        <option value="1983">1983年</option>
                                        <option value="1982">1982年</option>
                                        <option value="1981">1981年</option>
                                        <option value="1980">1980年</option>
                                        <option value="1979">1979年</option>
                                        <option value="1978">1978年</option>
                                        <option value="1977">1977年</option>
                                        <option value="1976">1976年</option>
                                        <option value="1975">1975年</option>
                                        <option value="1974">1974年</option>
                                        <option value="1973">1973年</option>
                                        <option value="1972">1972年</option>
                                        <option value="1971">1971年</option>
                                        <option value="1970">1970年</option>
                                        <option value="1969">1969年</option>
                                        <option value="1968">1968年</option>
                                        <option value="1967">1967年</option>
                                        <option value="1966">1966年</option>
                                        <option value="1965">1965年</option>
                                        <option value="1964">1964年</option>
                                        <option value="1963">1963年</option>
                                        <option value="1962">1962年</option>
                                        <option value="1961">1961年</option>
                                        <option value="1960">1960年</option>
                                        <option value="1959">1959年</option>
                                        <option value="1958">1958年</option>
                                        <option value="1957">1957年</option>
                                        <option value="1956">1956年</option>
                                        <option value="1955">1955年</option>
                                        <option value="1954">1954年</option>
                                        <option value="1953">1953年</option>
                                        <option value="1952">1952年</option>
                                        <option value="1951">1951年</option>
                                        <option value="1950">1950年</option>
                                        <option value="1949">1949年</option>
                                        <option value="1948">1948年</option>
                                        <option value="1947">1947年</option>
                                        <option value="1946">1946年</option>
                                        <option value="1945">1945年</option>
                                        <option value="1944">1944年</option>
                                        <option value="1943">1943年</option>
                                        <option value="1942">1942年</option>
                                        <option value="1941">1941年</option>
                                        <option value="1940">1940年</option>
                                        <option value="1939">1939年</option>
                                        <option value="1938">1938年</option>
                                        <option value="1937">1937年</option>
                                        <option value="1936">1936年</option>
                                        <option value="1935">1935年</option>
                                        <option value="1934">1934年</option>
                                        <option value="1933">1933年</option>
                                        <option value="1932">1932年</option>
                                        <option value="1931">1931年</option>
                                        <option value="1930">1930年</option>
                                        <option value="1929">1929年</option>
                                        <option value="1928">1928年</option>
                                        <option value="1927">1927年</option>
                                        <option value="1926">1926年</option>
                                        <option value="1925">1925年</option>
                                        <option value="1924">1924年</option>
                                        <option value="1923">1923年</option>
                                        <option value="1922">1922年</option>
                                        <option value="1921">1921年</option>
                                        <option value="1920">1920年</option>
                                    </select>

                                    <select name="dateOfBirth2"><!-- テスト。月-->
                                        <option value="選択してください">選択してください</option>
                                        <option value="01">01月</option>
                                        <option value="02">02月</option>
                                        <option value="03">03月</option>
                                        <option value="04">04月</option>
                                        <option value="05">05月</option>
                                        <option value="06">06月</option>
                                        <option value="07">07月</option>
                                        <option value="08">08月</option>
                                        <option value="09">09月</option>
                                        <option value="10">10月</option>
                                        <option value="11">11月</option>
                                        <option value="12">12月</option>
                                    </select>

                                    <select name="dateOfBirth3"><!-- テスト。日-->
                                        <option value="選択してください">選択してください</option>
                                        <option value="01">01日</option>
                                        <option value="02">02日</option>
                                        <option value="03">03日</option>
                                        <option value="04">04日</option>
                                        <option value="05">05日</option>
                                        <option value="06">06日</option>
                                        <option value="07">07日</option>
                                        <option value="08">08日</option>
                                        <option value="09">09日</option>
                                        <option value="10">10日</option>
                                        <option value="11">11日</option>
                                        <option value="12">12日</option>
                                        <option value="13">13日</option>
                                        <option value="14">14日</option>
                                        <option value="15">15日</option>
                                        <option value="16">16日</option>
                                        <option value="17">17日</option>
                                        <option value="18">18日</option>
                                        <option value="19">19日</option>
                                        <option value="20">20日</option>
                                        <option value="21">21日</option>
                                        <option value="22">22日</option>
                                        <option value="23">23日</option>
                                        <option value="24">24日</option>
                                        <option value="25">25日</option>
                                        <option value="26">26日</option>
                                        <option value="27">27日</option>
                                        <option value="28">28日</option>
                                        <option value="29">29日</option>
                                        <option value="30">30日</option>
                                        <option value="31">31日</option>
                                    </select>
                                    <!--生年月日元データ<input type="text" name="dateOfBirth" th:value="${form.dateOfBirth}"-->
                                </div>
                            </div>

                            <!--住所変更-->
                            <div class="field" th:classappend="${form.hasErrors('zipCode')} ? 'error'">
                                <label>郵便番号</label>
                                <div class="fields">
                                    <p>〒</p>
                                    <div class="four wide field">
                                        <input type="text"    name="zipcode1" th:value="${form.zipCode1}"placeholder="123"/>
                                    </div>
                                    <p>―</p>
                                    <div class="four wide field">
                                        <input type="text"   name="zipcode2" th:value="${form.zipcode2}"placeholder="4567"/>
                                    </div>
                                </div>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('address')} ? 'error'">
                                <label>ご住所</label>
                                <input type="text" name="address" th:value="${form.address}"placeholder="東京都新宿区１－２－３"/>
                            </div>


                            <!--電話番号変更-->
                            <div class="field" th:classappend="${form.hasErrors('homePhoneNumber')} ? 'error'">
                                <label>自宅電話番号</label>
                                <div class="ui fields">
                                    <div class="five wide field">
                                        <input type="text" name="homePhoneNumber1"
                                               th:value="${form.homePhoneNumber1}" placeholder="012"/>
                                    </div>
                                    <p>―</p>
                                    <div class="five wide field">
                                        <input type="text" name="homePhoneNumber2"
                                               th:value="${form.homePhoneNumber2}" placeholder="345"/>
                                    </div>
                                    <p>―</p>
                                    <div class="five wide field">
                                        <input type="text" name="homePhoneNumber3"
                                               th:value="${form.homePhoneNumber3}" placeholder="6789"/>
                                    </div>
                                </div>
                            </div>


                            <div class="field" th:classappend="${form.hasErrors('mobilePhoneNumber')} ? 'error'">
                                <label>携帯電話番号(任意)</label>

                                <div class="ui fields">
                                    <div class="five wide field">
                                        <input type="text" name="mobilePhoneNumber1"
                                               th:value="${form.mobilePhoneNumber1}" placeholder="012"/>
                                    </div>
                                    <p>―</p>
                                    <div class="five wide field">
                                        <input type="text" name="mobilePhoneNumber2"
                                               th:value="${form.mobilePhoneNumber2}" placeholder="345"/>
                                    </div>
                                    <p>―</p>
                                    <div class="five wide field">
                                        <input type="text" name="mobilePhoneNumber3"
                                               th:value="${form.mobilePhoneNumber3}" placeholder="6789"/>
                                    </div>
                                </div>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('emailAddress')} ? 'error'">
                                <label>メールアドレス</label>
                                <div class="ui fields">
                                    <div class="six wide field">
                                        <input type="text" name="emailAddress1" th:value="${form.emailAddress1}"
                                               placeholder="tis.internship"/>
                                    </div>
                                    <p>＠</p>
                                    <div class="six wide field">
                                        <input type="text" name="emailAddress2" th:value="${form.emailAddress2}"
                                               placeholder="example.ne.jp"/>
                                    </div>
                                </div>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('spouse')} ? 'error'">
                                <label>配偶者有無</label>
                                <div class="inline fields"> <!-- この中に記述したものが一行で表示される -->
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" id="spouse1" name="spouse" value="1" th:checked="${form.spouse}=='1'"/>
                                            <label for="spouse1">配偶者あり</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" id="spouse0" name="spouse" value="0" th:checked="${form.spouse}=='0'"/>
                                            <label for="spouse0">配偶者なし</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('houseClassification')} ? 'error'">
                                <label>お住まい</label>
                                <select class="ui selection dropdown" name="houseClassification">
                                    <option th:selected="${form.houseClassification}==''" value="">
                                        選択してください
                                    </option>
                                    <option th:selected="${form.houseClassification}=='自己所有'" value="自己所有">
                                        本人名義の一戸建・マンション
                                    </option>
                                    <option th:selected="${form.houseClassification}=='家族所有'" value="家族所有">
                                        家族名義の一戸建・マンション
                                    </option>
                                    <option th:selected="${form.houseClassification}=='社宅'" value="社宅">
                                        社宅
                                    </option>
                                    <option th:selected="${form.houseClassification}=='公営'" value="公営">
                                        公営住宅
                                    </option>
                                    <option th:selected="${form.houseClassification}=='賃貸'" value="賃貸">
                                        賃貸マンション
                                    </option>
                                    <option th:selected="${form.houseClassification}=='借家'" value="借家">
                                        借家
                                    </option>
                                    <option th:selected="${form.houseClassification}=='アパート'" value="アパート">
                                        アパート
                                    </option>
                                    <option th:selected="${form.houseClassification}=='寮下宿'" value="寮下宿">
                                        寮・下宿
                                    </option>
                                    <option th:selected="${form.houseClassification}=='その他'" value="その他">
                                        その他
                                    </option>
                                    <!--<input type="radio" name="houseClassification" value="家族所有" th:checked="${form.houseClassification}=='家族所有'"/>家族名義の一戸建・マンション
                                    <input type="radio" name="houseClassification" value="社宅" th:checked="${form.houseClassification}=='社宅'"/>社宅
                                    <input type="radio" name="houseClassification" value="公営" th:checked="${form.houseClassification}=='公営'"/>公営住宅
                                    <input type="radio" name="houseClassification" value="賃貸" th:checked="${form.houseClassification}=='賃貸'"/>賃貸マンション
                                    <input type="radio" name="houseClassification" value="借家" th:checked="${form.houseClassification}=='借家'"/>借家
                                    <input type="radio" name="houseClassification" value="アパート" th:checked="${form.houseClassification}=='アパート'"/>アパート
                                    <input type="radio" name="houseClassification" value="寮下宿" th:checked="${form.houseClassification}=='寮下宿'"/>寮・下宿
                                    <input type="radio" name="houseClassification" value="その他" th:checked="${form.houseClassification}=='その他'"/>その他

                                    !-->
                                </select>
                            </div>

                            <!--<div class="field" th:classappend="${form.hasErrors('industryType')} ? 'error'">
                                <label>業種</label>
                                <select class="ui selection dropdown" name="industryType">
                                    <option th:selected="${form.industryType}=='農林水鉱'" value="農林水鉱">農業・林業・水産業・鉱業</option>
                                    <option th:selected="${form.industryType}=='建築不動産'" value="建築不動産">建設・不動産業</option>
                                    <option th:selected="${form.industryType}=='製造'" value="製造">製造業</option>
                                    <option th:selected="${form.industryType}=='卸小売流通'" value="卸小売流通">卸売業・小売・その他流通業</option>
                                    <option th:selected="${form.industryType}=='金融保険'" value="金融保険">金融・保険業</option>
                                    <option th:selected="${form.industryType}=='運輸通信'" value="運輸通信">運輸・通信業</option>
                                    <option th:selected="${form.industryType}=='電気ガス'" value="電気ガス">電気・ガス業</option>
                                    <option th:selected="${form.industryType}=='官公庁'" value="官公庁">官公庁</option>
                                    <option th:selected="${form.industryType}=='サービス'" value="サービス">その他サービス業</option>
                                    <option th:selected="${form.industryType}=='その他'" value="その他">その他・不明</option>
                                </select>
                            </div>-->

                            <div class="field" th:classappend="${form.hasErrors('debt')} ? 'error'">
                                <label>ローン等のお借り入れ金額</label>
                                <input type="text" class="number" name="debt" th:value="${form.debt}"placeholder="123"/><span class="unit">万円</span>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('income')} ? 'error'">
                                <label>昨年の所得</label>
                                <input type="text" class="number" name="income" th:value="${form.income}"placeholder="123"/><span class="unit">万円</span>
                            </div>

                            <div class="field" th:classappend="${form.hasErrors('job')} ? 'error'"><!--隙間下いれてー-->
                                <label>ご職業</label>
                                <select class="ui selection dropdown" name="job">
                                    <option th:selected="${form.job}==''" value="">
                                        選択してください
                                    </option>
                                    <option th:selected="${form.job}=='経営自営'" value="経営自営">
                                        経営・自営業
                                    </option>
                                    <option th:selected="${form.job}=='会社員'" value="会社員">
                                        会社員
                                    </option>
                                    <option th:selected="${form.job}=='契約派遣'" value="契約派遣">
                                        契約・派遣社員
                                    </option>
                                    <option th:selected="${form.job}=='公務員'" value="公務員">
                                        公務員
                                    </option>
                                    <option th:selected="${form.job}=='民間団体'" value="民間団体">
                                        民間団体
                                    </option>
                                    <option th:selected="${form.job}=='主婦'" value="主婦">
                                        主婦
                                    </option>
                                    <option th:selected="${form.job}=='学生'" value="学生">
                                        学生
                                    </option>
                                    <option th:selected="${form.job}=='年金受給'" value="年金受給">
                                        年金受給者の方
                                    </option>
                                    <option th:selected="${form.job}=='パートアルバイト'" value="パートアルバイト">
                                        パート・アルバイトの方
                                    </option>
                                    <option th:selected="${form.job}=='他有職'" value="他有職">
                                        その他（有職）
                                    </option>
                                    <option th:selected="${form.job}=='他無職'" value="他無職">
                                        その他（有職）
                                    </option>
                                </select>
                                <!--
                                <input type="radio" name="job" value="経営自営" th:checked="${form.job}=='経営自営'"/>経営・自営業
                                <input type="radio" name="job" value="会社員" th:checked="${form.job}=='会社員'"/>会社員
                                <input type="radio" name="job" value="契約派遣" th:checked="${form.job}=='契約派遣'"/>契約・派遣社員
                                <input type="radio" name="job" value="公務員" th:checked="${form.job}=='公務員'"/>公務員
                                <input type="radio" name="job" value="民間団体" th:checked="${form.job}=='民間団体'"/>民間団体
                                <input type="radio" name="job" value="主婦" th:checked="${form.job}=='主婦'"/>主婦
                                <input type="radio" name="job" value="学生" th:checked="${form.job}=='学生'"/>学生
                                <input type="radio" name="job" value="年金受給" th:checked="${form.job}=='年金受給'"/>年金受給者の方
                                <input type="radio" name="job" value="パートアルバイト" th:checked="${form.job}=='パートアルバイト'"/>パート・アルバイト
                                <input type="radio" name="job" value="他有職" th:checked="${form.job}=='他有職'"/>その他 (有職）
                                <input type="radio" name="job" value="他無職" th:checked="${form.job}=='他無職'"/>その他（無職）
                                -->
                            </div>

                            <!--/*"お勤め先"の入力値を引き回すための隠し項目*/-->
                            <input type="hidden" name="employerName" th:value="${form.employerName}"/>
                            <input type="hidden" name="employerZipCode1" th:value="${form.employerZipCode1}"/>
                            <input type="hidden" name="employerZipCode2" th:value="${form.employerZipCode2}"/>
                            <input type="hidden" name="employerAddress" th:value="${form.employerAddress}"/>
                            <input type="hidden" name="employerPhoneNumber1" th:value="${form.employerPhoneNumber1}"/>
                            <input type="hidden" name="employerPhoneNumber2" th:value="${form.employerPhoneNumber2}"/>
                            <input type="hidden" name="employerPhoneNumber3" th:value="${form.employerPhoneNumber3}"/>
                            <input type="hidden" name="industryType" th:value="${form.industryType}"/>
                            <input type="hidden" name="capital" th:value="${form.capital}"/>
                            <input type="hidden" name="companySize" th:value="${form.companySize}"/>
                            <input type="hidden" name="department" th:value="${form.department}"/>
                            <input type="hidden" name="position" th:value="${form.position}"/>
                            <input type="hidden" name="employeeLength" th:value="${form.employeeLength}"/>

                            <button class="ui fluid teal button">次へ（お勤め先情報の入力）</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
